//color
$primary: #617a56;
$primaryLight: #ffffff;
$primaryDark: #232323;
$secondary: #ffffff;
$lightGrey: #f1f0ea;
$neutralLight: #c8c4ca;

$footerBg: #c0cfb8;
$heading: #383838;
$headingLight: #6c686e;

//font-size
$xxlFontSize: 34px;
$xlFontSize: 20px;
$lgFontSize: 18px;
$mdFontSize: 16px;
$smFontSize: 14px;

//breakpoint
$xs: 320;
$sm: 480;
$md: 576;
$lg: 768;
$xl: 992;
$xxl: 1200;
