@import '../../assets/styles/scss/slyles.scss';

.slider {
  @include media-breakpoint-up($lg) {
    display: none;
  }

  width: 100%;
  margin-bottom: 40px;
  position: relative;

  &__box {
    height: 100%;
    transition: left 0.8s ease-out;
    position: relative;
  }

  &__dots {
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    color: $primaryDark;
  }
}

.dots {
  width: 40px;
  height: 40px;

  &:hover {
    cursor: pointer;
  }
}
